<div class="container">
  <div class="row">
    <div class="col-3">
      <h4 class="mb-4 text-center bg-light w-75">注文履歴詳細</h4>
    </div>
  </div>
  <dl class="row">
    <dt class="col-2">購入者</dt>
    <dd><%= @order.name %></dd>
  </dl>
  <dl class="row">
    <dt class="col-2">注文日</dt>
    <dd><%= @order.created_at.strftime('%Y/%m/%d') %></dd>
  </dl>
  <dl class="row">
    <dt class="col-2">配送先</dt>
    <dd>
      〒<%= @order.postal_code %>
      <%= @order.address %><br>
      <%= @order.name %>
    </dd>
  </dl>
  <dl class="row">
    <dt class="col-2">支払方法</dt>
    <dd><%= @order.payment_method_i18n %></dd>
  </dl>
  <table class="table col-8">
    <tr class="table-active">
      <th class="col-3">商品名</th>
      <th class="col-2">単価(税込)</th>
      <th class="col-1">数量</th>
      <th class="col-2">小計</th>
    </tr>
    <% @order.order_items.each do |order| %>
      <tr>
        <td class="col-3"><%= order.item.name %></td>
        <td class="col-2"><%= order.price %></td>
        <td class="col-1"><%= order.amount %></td>
        <td class="col-2"><%= order.price * order.amount %></td>
      </tr>
    <% end %>
  </table>
  <dl>
    <dt>商品合計</dt>
    <dd><%= @order.total_payment - @order.shipping_cost %>円</dd>
  </dl>
  <dl>
    <dt>送料</dt>
    <dd><%= @order.shipping_cost %>円</dd>
  </dl>
  <dl>
    <dt>請求金額合計</dt>
    <dd><%= @order.total_payment %>円</dd>
  </dl>
</div>