<div class="container">
  <div class="row">
    <div class="col-3">
      <h4 class="mb-4 text-center bg-light w-75">注文情報確認</h4>
    </div>
  </div>
  <table class="table table-bordered col-8">
    <tr class="table-active">
      <th class="col-6">商品名</th>
      <th class="col-2">単価(税込)</th>
      <th class="col-2">数量</th>
      <th class="col-2">小計</th>
    </tr>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td class="col-6"><%= attachment_image_tag cart_item.item, :image, format: 'jpeg', size: "50x50" %> <%= cart_item.item.name %></td>
        <td class="col-2"><%= cart_item.item.add_tax_price %></td>
        <td class="col-2"><%= cart_item.amount %></td>
        <td class="col-2"><%= cart_item.subtotal %></td>
      </tr>
    <% end %>
  </table>

  <table class="table table-bordered col-3">
    <tr>
      <th class="table-active">送料</th>
      <td><%= @order.shipping_cost %></td>
    </tr>
    <tr>
      <th class="table-active">商品合計</th>
      <td><%= @order.total_payment - @order.shipping_cost %></td>
    </tr>
    <tr>
      <th class="table-active">請求金額</th>
      <td><%= @order.total_payment %></td>
    </tr>
  </table>

  <dl class="row">
    <dt class="col-1">支払方法</dt>
    </dt><%= @order.payment_method_i18n %></dd>
  </dl>
  <dl class="row">
    <dt class="col-1">お届け先</dt>
    <dd>
      〒<%= @order.postal_code %> <%= @order.address %><br>
      <%= @order.name %>
    </dd>
  </dl>

  <%= form_with model: @order, url: orders_path do |f| %>
    <%= f.hidden_field :shipping_cost %>
    <%= f.hidden_field :total_payment %>
  	<%= f.hidden_field :payment_method %>
  	<%= f.hidden_field :postal_code %>
  	<%= f.hidden_field :address %>
  	<%= f.hidden_field :name %>
  	<div class="row justify-content-center col-8">
  	  <%= f.submit '注文を確定する', class: "btn btn-success btn-sm" %>
  	</div>
  <% end %>
</div>