<div class="container">
  <div class="row">
    <div class="col-3">
      <h4 class="mb-4 text-center bg-light w-75">配送先編集</h4>
    </div>
  </div>
  <%= form_with model: @address, local: true do |f| %>
    <dl class="row">
      <dt class="col-3"><%= f.label :postal_code, '郵便番号(ハイフンなし)' %></dt>
      <dd class="col-3"><%= f.text_field :postal_code %></dd>
    </dl>
    <dl class="row">
      <dt class="col-3"><%= f.label :address, '住所' %></dt>
      <dd class="col-3"><%= f.text_field :address, size: 60 %></dd>
    </dl>
    <dl class="row">
      <dt class="col-3"><%= f.label :name, '宛名' %></dt>
      <dd class="col-3"><%= f.text_field :name %></dd>
    </dl>
    <div class="row justify-content-end col-9">
      <%= f.submit '変更内容を保存', class: "btn btn-success btn-sm" %>
    </div>
  <% end %>
</div>