<div class="container">
  <%= attachment_image_tag @item, :image, format: 'jpeg', size: "200x200" %>
  <dl>
    <dt><%= @item.name %></dt>
    <dd><%= @item.introduction %></dd>
    <dd><strong>¥<%= @item.add_tax_price.to_s(:delimited) %></strong>(税込)</dd>
  </dl>

  <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
    <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10], {prompt: '個数選択'} %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.submit 'カートに入れる', class: "btn btn-success btn-sm ml-4" %>
  <% end %>
</div>