<h2>商品詳細</h2>
<%= attachment_image_tag @item, :image, format: 'jpeg', size: "200x200" %>
<h4><%= @item.name %></h4>
<p><%= @item.introduction %></p>
<p>¥<%= @item.add_tax_price.to_s(:delimited) %>(税込)</p>

<%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
  <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10], {prompt: '個数選択'} %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.submit 'カートに入れる' %>
<% end %>